<header>
 <%= render 'layouts/header' %>
</header>
 <%= link_to '作成予定を決める！',calendars_path(current_customer.id) %>
<div class="calendar", id="calendar"></div>
<footer>
 <%= render 'layouts/footer' %>
</footer>