<header>
 <%= render 'layouts/header' %>
</header>
<div class='container'>
 <div class='row'>
  <h1 class="m-5 mx-auto"><strong>「積みプラの山を崩せ」</strong></h1>
 </div>
 <div>モチベが続かない、作る予定だったのにダラダラしてしまう</div>
 <div>そんなことありませんか？</div>
 <diV>そういった人にはこのサイトを使って楽しくプラモを作ってみませんか？</diV>
 <div>このサイトを使えばモチベが続かなかった人も</div>
 <div>こんな感じで楽しく作ることができます！</div>
 <div>ビフォー<%= image_tag 'kitigay.png', class: "ataoka"%>
      アフター<%= image_tag 'mazikiti.png', class: "ataoka"%>
 </div>
 <div><%= link_to "積みプラを崩したいから登録する", new_customer_registration_path %></div>

</div>