<header>
 <%= render 'layouts/header' %>
</header>
 <div class="box">
  <div class="haikei-1 imgs"></div>
  <div class="haikei-2 imgs"></div>
  <div class="haikei-3 imgs"></div>
   <table border="2" style="border-collapse: collapse" rules="groups">
    <div class = "row">
     <div class = "col-md-2 offset-2 mt-5">
      <div class = "col-md-8 mt-5">
       <div style="width: 100%; margin-bottom:300px">
        <div style="width: 900px; margin:100px auto;">
         <h2 class="tophaikei">
          <table border="2" style="border-collapse: collapse" rules="groups">
           <div class="toptext">ようこそ、sin_plamoへ<br>このサイトはプラモを作るモチベが続かない。<br>人たちに向けたアプリケーションです
           <br><%= link_to 'sin_plamoとは？', about_path, class: "btn  topbtn" %>
           <%= link_to '簡単登録！', new_customer_registration_path, class: "btn  topbtn"  %>
           </div>
          </table>
         </h2>
        </div>
       </div>
      </div>
     </div>
    </div>
   </table>
 </div>
<footer>
 <%= render 'layouts/footer' %>
</footer>
