/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 .carendar {
  max-width: 220px;
	 margin: 0 auto;
 }

 .topsize {
  width: 40%;
  height: 40%;
 }

 .haikei {
  background: linear-gradient(-45deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)) fixed, url(https://2.bp.blogspot.com/-PalZ8Vf4gcA/XvmmEd337UI/AAAAAAAAMn8/_5OsP3iw_JoSog26MCqLATGxBXGfXpEtACLcBGAsYHQ/s1600/160.jpg) fixed;
  background-size: cover;
 }

 .azure {
  color: #f0ffff;
 }

 .table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
 }

 .link {
  fontcolor: #f0ffff;
 }

 .size {
  width: 50%;
  height: 50%;
 }

 .siz {
  width: 300%;
  height: 300%;
 }

 .sizen {
  width: 50%;
  height: 50%;
  right: 30px;
 }

 .plo_name {
  right: 10px;
 }

.width {
 width: 700px;
}

.ataoka {
 width: 30%;
  height: 30%;
}

.sizee {
  width: 50%;
  height: 50%;
}