/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 .carendar {
  max-width: 220px;
	 margin: 0 auto;
 }

 .topsize {
  width: 40%;
  height: 40%;
 }
 
 .topbtn {
  font-size: 36px;
 }

 .toptext {
  font-size: 32px;
  color: black;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 }

 .box {
  position: relative;
  width: 100vw;
  height: 100vh;
 }

 .box .imgs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-size: cover;

  animation  : bgAnime 15s infinite;
}

 .box .haikei-1 {
  background: linear-gradient(-45deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)) fixed, url(https://1.bp.blogspot.com/-u-x-gcGcRJo/X4bvIKcWBQI/AAAAAAAAOps/Qf-fneKbY6InzOLjfGSUz0PbkfIMYu9_gCLcBGAsYHQ/s1500/172.jpg) fixed;
  background-size: cover;
 }
 .box .haikei-2 {
  background: linear-gradient(-45deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)) fixed, url(https://3.bp.blogspot.com/-06VYjf97sPI/Xvml9qe6MvI/AAAAAAAAMn0/bv6EOOLbgks5Zs93UPgZ412XR2TvaofYwCLcBGAsYHQ/s1600/152.jpg) fixed;
  background-size: cover;
  animation-delay  : 5s;
 }

 .box .haikei-3 {
  background: linear-gradient(-45deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)) fixed, url(https://2.bp.blogspot.com/-PalZ8Vf4gcA/XvmmEd337UI/AAAAAAAAMn8/_5OsP3iw_JoSog26MCqLATGxBXGfXpEtACLcBGAsYHQ/s1600/160.jpg) fixed;
  background-size: cover;
  animation-delay  : 10s;
 }

 @keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}


 .azure {
  color: #f0ffff;
 }

 .table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
 }

 .tabled {
  line-height: 5px;
 }


 .link {
  fontcolor: #f0ffff;
 }

 .size {
  width: 50%;
  height: 50%;
 }

 .siz {
  width: 300%;
  height: 300%;
 }

 .sizen {
  width: 180px;
  height: 180px;
 }


 .sizene {
  width: 80%;
  height: 80%;
 }

 .plo_name {
  right: 10px;
 }

.width {
 width: 700px;
}

.ataoka {
 width: 30%;
 height: 30%;
}

.sizee {
  width: 50%;
  height: 50%;
}

.table-top {
  margin: 0 auto;
}

$white: #fff;
$grey: #ccc;

@mixin lato-book { font-family: 'Lato', sans-serif; font-weight: 300; }
@mixin lato-reg { font-family: 'Lato', sans-serif; font-weight: 400; }
@mixin lato-bold { font-family: 'Lato', sans-serif; font-weight: 700; }
@mixin btn($color) {
  background-color: $color;
  border-bottom-color: darken($color, 15%);
  &:hover {
      background-color: lighten($color, 5%);
    }
}


@function pxtoem($target, $context){
  @return ($target/$context)+0em;
}


.container_new {
  max-width: 900px;
  min-width: 324px;
  margin: auto;
  background-color: $white;
}

.pull-right {
  float: right;
}

h4 {
  @include lato-reg;
  font-size: pxtoem(20, 16);
  margin: 1em 0 0.4em 0;
}

.form {
  max-width: 100%;
  display: block;
}

.text-comment {
 width: 2000px;
 height: 100px;
}

.header {
 background: white;
}

.headers {
 background: white;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  &.header {
    padding: 1.5em 2.5em;
    border-bottom: 1px solid $grey;
    background: url(https://cdn.pixabay.com/photo/2020/09/09/02/15/penguins-5556289_960_720.jpg) left -850px;
    color: #555555;
  }
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  &.headers {
    padding: 1.5em 2.5em;
    border-bottom: 1px solid $grey;
    background: url(https://cdn.pixabay.com/photo/2020/09/09/02/15/penguins-5556289_960_720.jpg) left -930px;
    color: #555555;
  }
}


.text-comments {
 width: 500px;
 height: 100px;
}

.text-comments {
 width: 500px;
 height: 100px;
}


* { margin: 0; padding: 0; box-sizing: border-box; }

body {

}

.formall {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.formitem {
  margin-bottom: 0.75em;
  width: 100%;
}

.formitem input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.formitem input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.buttonpanel {
  margin: 2em 0 0;
  width: 100%;
  border: none;
  cursor: pointer;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.formfooter {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.formfooter a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.formfooter a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.formiteme {
  margin-bottom: 0.75em;
  width: 100%;
}

.formiteme input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
}

.formiteme input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 30em
}


.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='tex'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: black;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
}

.area:focus {
  border-color: #000;
  outline: none;
}

.none {
  background-image: url("assets/images/gazousentaku.jpg");
}


.border1 {
  width: 100px;
}

.border2 {
  width: 100px;
}

.border3 {
  width: 100px;
}

.border4 {
  width: 150px;
}